.Navbar {
    .navbar {
        min-height: 84px;
        padding-left: 0;
        padding-right: 0;

        .navbar-brand {
            margin-right: 27px;
        }

        .navbar-toggler {
            border: none;
            outline: none;
        }

        .nav-link {
            font-size: 18px;
            line-height: 24px;
            padding-left: 0;
            color: #6C7C93;

            &:hover {
                color: #79B741;
            }
        }
    }
}

@media (min-width: 992px) {
    .Navbar {
        .navbar-expand-lg {
            .navbar-nav {
                .nav-link {
                    padding-right: 15px;
                    padding-left: 15px;
                }
            }
        }
    }
}