.Events {
  /* width: 380px; */
  height: 100vh;
  border-right: 1px solid #dedede;
  overflow-y: auto;
  background-color: #f5f4f4;
}

.header {
  padding: 20px;
}

.header .logo {
  margin: 0;
}

.logo .green {
  color: #39b980;
}

.event-items {
  margin: 0;
  padding: 0 20px;
  list-style: none;
}

.event-items .item {
}

.event {
  background-color: #ffffff;
  border-radius: 4px;
  margin-bottom: 20px;
  padding-top: 20px;
  display: block;
  text-decoration: none;
  color: #222222;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.event:hover {
  box-shadow: 0 15px 38px rgba(0, 0, 0, 0.1);
}

.event.active {
  border-top: 4px solid #39b980;
  box-shadow: 0 15px 38px rgba(0, 0, 0, 0.1);
  font-weight: 500;
}

.event .event-img {
  max-width: 100%;
  border-radius: 0 0 4px 4px;
  margin-bottom: -4px;
}

.img-preview-content {
  height: 60px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 4px 4px;
}

.img-preview-content img {
  border-radius: 0 !important;
}

.event .comment {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event .comment.show {
  white-space: normal;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 767px) {
  .Events {
    height: 50vh;
    border-right: none;
  }

  .event .comment {
    width: 90%;
  }
}
