.Application {
  position: relative;
}

.add-photo-button {
  position: absolute !important;
  right: 10px;
  bottom: 190px;
}

.MyMapComponent {
  height: 100vh;
}

.region-grid {
  text-align: right;
}

@media (max-width: 599px) {
  .region-grid {
    text-align: left !important;
    margin-top: 20px !important;
  }
}

@media (max-width: 767px) {
  .MyMapComponent {
    height: 50vh;
  }
}