.App {
  position: relative;
}

.add-photo-button {
  position: absolute !important;
  right: 10px;
  bottom: 190px;
}

.MyMapComponent {
  height: 100vh;
}

@media (max-width: 767px) {
  .MyMapComponent {
    height: 50vh;
  }
}