@font-face {
  font-family: "Montserrat-Bold";
  src: url("./app/shared/assets/fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("./app/shared/assets/fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("./app/shared/assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("./app/shared/assets/fonts/Montserrat-Light.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "Montserrat-Medium";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
