.PartnersCarousel {
    min-height: 110px;

    .partners-text-col {
        padding: 31px 0;

        .partners-text {
            color: #202840;
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 0;
        }
    }
}